{% layout "template" %}
{% block content %}
{% include 'nav' %}
<form class="form-inline mt-2 ml-2" action="" method="POST">
    <div class="form-group mb-2 mr-2">
        <label for="inputSearch" class="sr-only">IMDB - Url</label>
        <input name="search" type="text" class="form-control" id="inputSearch" placeholder="IMDB - Url" required>
    </div>
    <button name="create_url" type="submit" class="btn btn-primary mb-2">Suggest</button>
</form>
<div class="card-columns m-2">
    {% for movie in movies %}
    <form action="" method="POST">
        <div class="card">
            <img class="card-img-top" style="max-height: 200px; object-fit: scale-down;" src="{{movie.poster}}" alt="Movie Poster">
            <div class="card-body">
                <h5 class="card-title"><a href="{{movie.url}}" target="_blank">{{movie.title}}</a></h5>
                <span class="h5">{{movie.votes}} Vote{% if movie.votes != 1 %}s{% endif %}&nbsp;</span>
                <input type="hidden" name="id" value="{{movie.id}}">
                <button class="btn btn-primary btn-lg" name="upvote" type="submit" {% if movie.voted == 1 %}disabled{% endif %}><i class="fas fa-arrow-up"></i></button>
            </div>
        </div>
    </form>
    
    {% endfor %}
</div>
{% endblock %}