<div class="card">
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: {{doc.percentage}}%"
            aria-valuenow="{{doc.percentage}}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="card-body">
        <a href="/{{link}}/{{doc.relpath}}" data-id="{{doc.relpath}}" class="stretched-link color-primary">
            <p class="card-title">{{doc.filename}}</p>
        </a>
    </div>
</div>