<div class="card">
    <div class="card-header"><span class="card-title">{{title}}</span></div>
    <div class="card-body">
      <a href="/{{link}}/{{doc.relpath}}" data-id="{{doc.relpath}}" class="stretched-link color-primary">
        <p class="card-title">{{doc.filename}}</p>
      </a>
    </div>
  </div>
  